
/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	background:#b51ec9;
	color:green;
	
}


#container {
	width:725px;
	margin:auto;
}



section{
	border:1px solid black;
	margin-bottom:2em;
}

header, footer{
	background:#fcfc3d;
	color:#b51ec9;
}

header{
	padding:10px;
	font-size:2em;
	line-height:1.6em;
	/*font-family: 'font-family: "Exo 2", sans-serif;*/
}

main header{
	background:none;
	color:#black;
	font-size:1.2em;
}

main {
	padding;20px
}

p{
	margin:15px;
}

.mobile{
}

.desktop{
	display:none;
}
section#mystuff{
	background:#3e4022;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	body{
		/*background:#e1e3ca;*/
		
		background: url(../img/6.png) no-repeat fixed center;
		background-size:cover;
		
	}
	
	#container {
	width:725px;
	margin:auto;
}
	
	header, footer{
		background:none;
	}
	
	#container>header h1{
		color:red;
	}
	
	
	section#authorstuff{
		border:0px;
		background:rgba(255,255,255,1);
	}
	
	footer{
		color:white;
		text-align:right;
		padding-bottom:2em;
	}
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	#container{
		width:1000px
	}
	section#authorstuff{
		float:left;
		width:40%;
	}
	
	section#mystuff{
		float:right;
		width:45%;
	}
	
	footer{
		clear:both;
	}
	.mobile{
		display:none;
}

.desktop{
	display:block;
}
	
} /* closes 1024px+ */



