
/* 

title
description
your name, date

additional comments

*/

body {
  font-family: Arial, sans-serif, ;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;

   
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;


}

/*==========content============== */
main {
  padding: 40px;
}


/*==========navigation============== */
nav {
  background-color: #033965;
  padding: 10px 0;
  
  /*flexible box layout see: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout */
  display: flex;
  
  /*  align items along the main axis of a flex container */
  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
  justify-content: center;
  
  /*define the spacing between rows and columns in layout models */
  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/gap*/
  gap: 10px;
}

/* default navigation */
nav a {
  background-color: #0033db;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;

}

nav a:hover {
  background-color: #98AFE9;
}

nav a.active {
  background-color: #021f68;
}

